<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #container {
            text-align: center;
        }
        
        
        .box {
            display: inline-block;
            border: 3px solid black;
            background-color: blue;
            margin: 15px;
            width: 200px;
            height: 200px;
        }

        h2 {
            text-align: center;
    
    </style>
    <title>Playground 2</title>
</head>
<body>
    <h2>Welcome</h2>
    {% for i in range(0, num): %}
        <div class="box"></div>
    {% endfor %}
</body>
</html>